.container {
    display: flex;

    justify-content: space-between;
    margin-top: 250px;

}

.paragraph {

    color: rgb(163, 162, 162);
    font-size: 22px;
    width: 450px;
    font-family: 'Mali', cursive;
}

.profile {
    color: white;
    margin-left: -18px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;

}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(164, 164, 164, 0.19), 0 6px 20px 0 rgba(164, 164, 164, 0.19);
    border-radius: 15px;
    width: 270px;
    margin-top: -80px;
    transform: scale(1.09);

}

.card-header1 {
    background: rgb(250, 145, 113);
    background: linear-gradient(90deg, rgba(250, 145, 113, 1) 37%, rgba(249, 114, 71, 1) 75%, rgba(255, 102, 54, 1) 100%);
    padding-top: 50px;
    padding-bottom: 25px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: space-around;


}




.card-body1 {
    margin-left: 20px;
    padding-bottom: 20px;



}

.input {
    width: 220px;
    height: 30px;

    border-radius: 3px;
    border-width: .3px;
    border-color: rgb(208, 204, 204);

}


.body-text {
    margin-bottom: 2px;
    margin-top: 10px;
    color: rgb(174, 172, 172);
    font-size: 13px;

}

.logo {
    width: 30px;
    margin-right: 20px;
    margin-top: -10px;

}

.header {
    font-size: 30px;
    font-family: 'Mali', cursive;
    margin-top: -230px;
    margin-left: -150px;

}

.header-part {
    color: rgb(255, 123, 0);

}

.logout {
    width: 17px;
    height: 17px;
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
    margin-right: -20px;
    margin-top: 5px;
}

.my-profile {
    display: flex;
    justify-content: left
}

.profileimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
}

.name {
    padding-left: 20px;
    margin-top: 30px;
    font-size: 13px;

}

.uname {
    margin-bottom: 0px;
    font-size: 12px;
    color: rgb(150, 147, 147);
}

.mpost {
    display: flex;
    justify-content: left;
    margin-top: 25px;
    color: rgb(162, 162, 162);
    font-size: 14px;

}

.plus {
    margin-right: 11px;
}

.spost {
    display: flex;
    justify-content: left;
    color: rgb(162, 162, 162);
    font-size: 14px;
}

.mark {
    margin-right: 12px;
    transform: scale(1.2);
    margin-left: 5px;
    margin-top: 2px;

}

.post {
    margin-bottom: 10px;
    color: rgb(162, 162, 162);
    font-size: 14px;
}

.cpost {
    box-shadow: 0 4px 8px 0 rgba(164, 164, 164, 0.19), 0 6px 20px 0 rgba(164, 164, 164, 0.19);
    border-radius: 15px;
    width: 270px;
    transform: scale(1.09);
    margin-top: 50px;
    height: 50px;
    display: flex;
    justify-content: left;
    padding-top: 25px;
    padding-bottom: 40px;
    padding-left: 20px;
    color: rgb(162, 162, 162);


}

.plus1 {

    margin-right: 10px;


}

.mark:hover {

    box-shadow: 0px 15px 20px rgba(226, 232, 229, 0.4);
    color: rgb(150, 150, 150);
    transform: translateY(-3px);
}

.plus:hover {
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgba(226, 232, 229, 0.4);
    color: rgb(150, 150, 150);
    transform: translateY(-3px);
}

.plus1:hover {
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgba(226, 232, 229, 0.4);
    color: rgb(150, 150, 150);
    transform: translateY(-3px);
}

.logout:hover {

    box-shadow: 0px 15px 20px rgba(226, 232, 229, 0.4);
    color: rgb(150, 150, 150);
    transform: translateY(-3px);
}

.post-header {
    font-size: 13px;
    padding-top: 10px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-left: 40px;
}

.Mypost {
    box-shadow: 8px 8px 16px 8px rgba(129, 129, 129, 0.19), 0 6px 20px 0 rgba(106, 105, 105, 0.19);
    border-radius: 3px;

    transform: scale(1.3);
    margin-top: 150px;
    width: 400px;
    margin-left: -90px;

}

.pimage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 20px;

}

.postimg {
    width: 400px;
    height: 250px;

}

.like {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: -5px;

}

.postfooter {
    padding-bottom: 3px;
    display: flex;
    justify-content: space-between;
}

.mark2 {
    margin-top: 10px;
    margin-right: 10px;
}

.mark2:hover {

    box-shadow: 0px 15px 20px rgba(226, 232, 229, 0.4);
    color: rgb(150, 150, 150);
    transform: translateY(-3px);
}

.like:hover {

    box-shadow: 0px 15px 20px rgba(226, 232, 229, 0.4);
    color: rgb(150, 150, 150);
    transform: translateY(-3px);
}
.newpost{
    margin-top: 50px;
    box-shadow: 8px 8px 16px 8px rgba(129, 129, 129, 0.19), 0 6px 20px 0 rgba(106, 105, 105, 0.19);
    border-radius: 12px;
    transform: scale(1.2 );
  
    
}
.nimg1{
display: flex;
justify-content: center;
    border: 0.5px solid black;
    width: 370px;
    margin-left: 40px;
    padding-top: 60px;
    padding-bottom: 50px;
    border-color: rgb(208, 208, 208);
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 15px;
 
}

/* .imgupload2{
    display: flex;
    justify-content: left;
        border: 0.5px solid black;
        width: 370px;
        margin-left: 40px;
        padding-bottom: 15px;
        border-color: rgb(208, 208, 208);
        font-family: 'Montserrat', sans-serif; 
        margin-bottom: 45px;
        font-size: 10px;
     
    } */
    .cpostheader{
        font-size: 25px;
        font-family: 'Montserrat', sans-serif; 
        color: black;
        margin-top: 70px;
        margin-left: -45px;
    }
    .parahead{
        margin-left: 100px;
    }
    .btn {

        width: 450px;
        transform: scale(1.2);
        height: 30px;
        padding-top: 3px;
        margin-top: 80px;
        border-color: rgb(255, 123, 0);
        color: rgb(255, 123, 0);
        font-family: 'Montserrat', sans-serif; 
    
    } 
    .nimg2{ display: flex;
        justify-content: left;
            border: 0.5px solid black;
            width: 370px;
            margin-left: 40px;
            padding-bottom: 25px;
            border-color: rgb(208, 208, 208);
            font-family: 'Montserrat', sans-serif; 
            margin-bottom: 45px;
            font-size: 10px;
            outline-width: 0;

    }